@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

#container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#img img {
    width: 30rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    color: #c3c3c3;
    background-color: #3f3f3f;
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.5rem;
}

.input-box label {
    font-size: 1rem;
    color: #cacaca;
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #636363;
    padding: 0.2rem;
    border-radius: 5px;
    margin-top: 5px;
}

.input-field i, .input-field span {
    color: #161616;
    font-size: 1.5rem;
    padding: 0.6rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    color: #e1e1e1;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button, .input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #33b4d4;
    color: #e1e1e1;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    display: flex;
    gap: 3rem;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    padding: 1rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#bmi span:last-child {
    font-size: 1rem;
    color:#e1e1e1;
}

#description {
    width: 15rem;
}

#more-info {
    border-top: 1px solid #e1e1e1;
    padding-top: 1rem;
}

#more-info a {
    color: #33b4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: color 0.5s;
}

#more-info a:hover {
    color: #e1e1e1;
}

.hidden {
    display: ;
}

@media screen and (max-width: 480px) {

    body {
        height: 100%;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    #img img {
        width: 20rem;
        padding-top: 3rem;
    }

    #calculator {
        width: 20rem;
        margin-bottom: 3rem;
    }

    #title {
        font-size: 1rem;
    }

    .input-box label {
        font-size: 0.8rem;
    }

    #bmi {
        font-size: 1rem;
    }

    #bmi span:last-child {
        font-size: 0.5rem;
    }

    #description {
        font-size: 0.8rem;
    }

    #more-info a {
        font-size: 0.5rem;
        gap: 0.5rem;
    }
}