@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

#container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#img img {
    width: 30rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    color: #c3c3c3;
    background-color: #3f3f3f;
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.5rem;
}

.input-box label {
    font-size: 1rem;
    color: #cacaca;
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #636363;
    padding: 0.2rem;
    border-radius: 5px;
    margin-top: 5px;
}

.input-field i, .input-field span {
    color: #161616;
    font-size: 1.5rem;
    padding: 0.6rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    color: #e1e1e1;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button, .input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}